.nav-buttons {
    transition-duration: 0.4s;
    
   border-radius: 8px;
   padding: 0.7em 1.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1em;
  }
  
  .button:hover {
    background-color: rgb(238, 241, 34);; /* Green */
    color: #000000;
  }
  .nav-buttons {
      width: 20%;
     
      height: 100%;
  }
